@charset "UTF-8";

/* Aparelho deitado (landscape) */

/*body {
    background-image: url();
    background-position: left bottom;
}*/


menu > nav > a {
    font-family: var(--font1);
    color: var(--cor1);
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 1s;
    padding: 10px;  
}

menu > nav > a:hover {
    color: var(--cor2);
    background-color: var(--cor0);    
}
